@import "tailwindcss";


h1, h2, h3, h4, h5, h6 {
background: linear-gradient(to right, #000000, #777777);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
